#div1{
    background-color: red;
}

#div2{
    background-color: yellow;
}

#div3{
    background-color: grey;
}

#div4{
    color: red;
}

#div5{
    color: blue;
}

#london{
    font-size: 40px;
}


